.stories-btn :hover {
    background-color: midnightblue;

}

.textarea {
    max-width: 45%;
    border-radius: 10px;
    background-color: white;
    min-height: 5%;
    margin-top: 25px;

}

.stories_btn {

    width: 70px;
    border-radius: 10px;
    border: aquamarine 1px solid;

}

.stories_item {
    max-width: 70%;
    border-radius: 10px;
    background-color: #21283b;
    margin-top: 5px;
    text-align: center;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
    margin-bottom: 25px;

}

.wrapper {
    margin-right: 0;
    display: grid;
    padding-left: 25px;
}
.stories_item:last-child{
    margin-bottom: 255px;
}