
.titles {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    line-height: 25px;
}
figure img {
    border-radius: 100%;
    max-width: 100%;
    min-width: 60px;
    cursor: pointer;
    margin: 0 auto;

}
.card {
    margin-right: 25px;
    display: grid;
    float: left;
    
    background-color: white;
}
.card ul li {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;


}
figure {
    display: grid;


}