.tanks{
    color:#ffff;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
.card{
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;

}
/*.card:last-child {*/
/*     margin-bottom: 200px;*/
/* }*/

button.tratata{
    width: 41px!important;
}
.photo{
    width: 70px;
}
.active{
    background-color: brown;
}
.btn_wrap{
    margin-bottom: 255px;
    float: bottom;
}
.status{
    max-width: 130px;
    max-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: aliceblue;
}
