.App {
    text-align: center;

}

.margin-right {
    margin-right: 25px;
}

nav {
    background: #21283b;
}
@media (max-width: 1200px){
    .pagination{
margin-bottom: 300px;
    }
}
.nav-wrapper{
    width: 100%;
}

.pagination li a{
    background-color: #fff;
}
.pagination li.active a{
    background-color: aqua;
}
.pagination li.active{
    background-color: transparent;
}
button:focus{
    background-color: brown;
}
body{
    background-color:transparent;
}
html  {
    position: relative;
    min-height: 125%;
    background-color: transparent;
    background-image: url("simon-zhu-iaJH3_7EXSg-unsplash.jpg");

    background-attachment: fixed;
    background-position:  50% 20% ;
    background-size: cover;
}


.page-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #21283b;

    height: 250px;
    overflow: hidden;

}
.nav-link{
    padding: 0;
}
.input-field .materialize-textarea{
    color: white;
}

.tratata{
    width: 42px;
}

.backdropImg {
    left: 10%;
    top: -15%;
    z-index: -5;
    max-width: 80%;
    position: fixed;
    overflow-x: hidden;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}




a {
    margin-left: 5px;
}

ul li {
    list-style-type: none;


}

input{
    background-color: white!important;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #21283b;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*.paralax{*/
/*    background-image: url("simon-zhu-iaJH3_7EXSg-unsplash.jpg");*/
/*    min-height: 1vh;*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/